@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.work-section {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 88px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 114px;
  padding-bottom: 114px;
}

.work-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  gap: 12px;
}

.snapshoot-portfolio {
  border-radius: 8px;
  width: 295px;
  height: 220px;
}

.title {
  color: #172b4d;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.details {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--neutrals-n-600, #344563);
  line-height: 16px;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}

.about-job {
  color: #344563;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.subject-pictures {
  display: flex;
  gap: 8px;
}

.subjects {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-b-50, #EBEBFF);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #6070FF;
  text-decoration: none;
}

.see-project-button {
  margin-top: 12px;
  margin-bottom: 12px;
}

.see-project, .get-my-resume {
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  font-style: normal;
  color: #396df2;
}

.about-me-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 24px;
}

.about-me-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.connect-link {
  color: #7f8cff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.social-media-links {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 170.167px;
  height: 20px;
  margin: 8px;
}

.languages, .frameworks, .skills {
  display: flex;
  justify-content: space-between;
  padding: 16px 26px 16px 12px;
  align-items: center;
  gap: 12px;
}

.languages p, .frameworks p, .skills p {
  width: 237px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.language-list {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.js-section, .html-section, .css-section {
  display: flex;
width: 303px;
padding: 9px 12px 9.716px 12px;
justify-content: flex-start;
align-items: center;
gap: 16px;
border-radius: 8px;
background: var(--neutrals-n-10, #F7F7F9); 
}

.js-icon, .html-icon, .css-icon {
  width: 48px;
height: 48px;
flex-shrink: 0;
border-radius: 48px;
border: 1px solid var(--neutrals-n-0, #FFF); 
}

.frameworks, .skills {
  border-bottom: 1px solid #dfe1e6;
}

.js-section p, .html-section p, .css-section p {
  font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 20px;
color: #253858;
}



